<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SmartPost</title>
  </head>
  <body>

    <h1>Looks like you should use...</h1>
    <h2> <%= @quiz %> </h2>

  </body>
</html>
