<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SmartPost</title>
  </head>
  <body>

    <header>SmartPost</header>

    <h1>Looks like you should use...</h1>

  </body>
</html>
