<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SmartPost</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
  </head>
  <body background="blob:https%3A//mail.google.com/527d60c7-71bd-4439-8266-5061fd2eac2c">

    <header>SmartPost</header>

    <h1>Welcome to SmartPost!</h1>

    <h2>What social media app should you use? Take a short quiz to find out!</h2>

    <button type="button">Let's See!</button>

  </body>
</html>
