<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SmartPost</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body background="http://s7.favim.com/orig/150107/background-emoji-wallpaper-emoji-wallpaper-Favim.com-2366197.jpg">

    <header><h5>SmartPost</h5></header>

    <h1>Welcome to SmartPost! <br> </br> What social media app should you use? Take a short quiz to find out!</h1>

    <a href="quiz"><button type="button">Let's See!</button></a>

  </body>
</html>
