<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

  </body>

  <form>
    <%= @quiz %>
    <input type="radio" name="content" value="image" checked> Image <br>
    <input type="radio" name="content" value="text" checked> Text <br>
  </form>



</html>
