@import url(https://fonts.googleapis.com/css?family=Rancho|Rock+Salt);
h3 {
  font-size: 48pt;
  margin-left: 29%;
  font-family: 'Rock Salt', cursive;
  /*color: #660006;*/
  background-color: #ffffff;
  width: 44.5%
}

h1 {
  margin-left: 34%;
  font-family: 'Rancho', cursive;
  color: #660066;
  background-color: #ffffff;
  width: 27%;
}

h2 {
  margin-left: 20.5%;
  font-family: 'Rancho', cursive;
  color: #660066;
  background-color: #ffffff;
  width: 30%
}

button {
  margin-left: 44%;
}
