header {
  font-size: 50pt;
  margin-left: 35%;
  font-family: 'Lucida Grande', sans-serif;
  /*color: #660066;*/
  background-color: #ffffff;
  width: 23.5%
}

h1 {
  margin-left: 34%;
  font-family: 'Lucida Grande', sans-serif;
  color: #660066;
  background-color: #ffffff;
  width: 27%
}

h2 {
  margin-left: 20.5%;
  font-family: 'Lucida Grande', sans-serif;
  color: #660066;
  background-color: #ffffff;
  width: 30%
}

button {
  margin-left: 44%;
}
