@import url(https://fonts.googleapis.com/css?family=Rancho|Rock+Salt);
header {
  font-size: 48pt;
  margin-left: 32%;
  font-family: 'Rock Salt', cursive;
  /*color: #660006;*/
  background-color: #ffffff;
  width: 28.5%;
}

h1 {
  font-size: 55px;
  margin-left: 35%;
  font-family: 'Rancho', cursive;
  color: #660066;
  background-color: #ffffff;
  width: 21.0%;
}

h2 {
  font-size: 50px;
  margin-left: 31%;
  font-family: 'Rancho', cursive;
  color: #660066;
  background-color: #ffffff;
  width: 32%
}

button {
  margin-left: 44%;
}
